doctype html
html
  head
    title= name
    link(rel='stylesheet', href='/main.css')
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description",content=description)
    meta(name="author",content="Greg Thomas")

    meta(property="og:title" content=name)
    meta(property="og:description" content=description)
    meta(property="og:image" content=appUrl+"/img/quizzical-share.png")
    meta(property="og:url" content=appUrl+'/q/'+gameId)

  body
    block content

    script
      | const initGameId = '#{gameId}';

  script(type='text/javascript' src='/main.js')